<header>
    <div class="header-content">
        <div class="portrait">
            <a class="home" href="/">
                <img src="/assets/img/portrait.jpg" alt="Portrait of Daniel J. Rollins"/>
            </a>
        </div>
        <div class="site-logo">
                <h1>
                    <a class="home" href="/">
                        Daniel<em>J</em>Rollins
                    </a>
                </h1>
        </div>
        <ul class="socials">
            {% for social in site.socials %}
            <li>
                <a class="{{ social[0] }}" href="{{ social[1].url }}" target="_blank">
                    <span class="fa {{ social[1].fa }}"></span>
                </a>
            </li>
            {% endfor %}
		</ul>
        <div class="tag-line">
            {{ site.description }}
        </div>
        <hr>
        <nav>
            <div class="nav-item">
                <a href="/about">
                    About      
                </a>
            </div>
            <div class="nav-item">
                <a href="#">
                    Archive
                </a>
            </div>
            <div class="nav-item">
                <a href="/tags">
                    Tags
                </a>
            </div>
        </nav>
    </div>
</header>
