<header>
	<div class="header-content">
		<img class="portrait" src="{{ site.baseurl }}/assets/img/portrait.jpg"></img>
		<h1>Daniel<span class=initial>J</span>Rollins</h1>
		<nav class="header-nav">
			<ul>
				<li> <a href="{{ site.baseurl }}/">About</a> </li>
				<li> <a href="{{ site.baseurl }}/projects">Projects</a> </li>
				<li> <a href="{{ site.baseurl }}/blog">Blog</a> </li>
			</ul>
		</nav>
		<ul class="socials">
			{% for social in site.socials %}
				<li>
					<a class="{{ social[0] }}" href="{{ social[1].url }}" target="_blank">
						<span class="fa {{ social[1].fa }}"></span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</header>
