<header>
    <div class="header-content">
        <img class="portrait" src="http://www-cdr.stanford.edu/~petrie/blank.gif"></img>
        <h1>Daniel<span class=initial>J</span>Rollins</h1>
        <nav class="header-nav">
			<ul>
				<li> <a href="#">About</a> </li>
				<li>|</li>
				<li> <a href="#">Projects</a> </li>
				<li>|</li>
				<li> <a href="#">Blog</a> </li>
			</ul>
        </nav>
		<ul class="socials">
			<li>
				<a class="github" href="http://github.com/djrollins" target="_blank">
					<span class="fa fa-github"></span>
				</a>
			</li>
			<li>
				<a class="twitter" href="http://twitter.com/DanielJRollins" target="_blank">
					<span class="fa fa-twitter"></span>
				</a>
			</li>
			<li>
				<a class="stack-overflow" href="http://stackoverflow.com/users/2996594/djrollins" target="_blank">
					<span class="fa fa-stack-overflow"></span>
				</a>
			</li>
			<li>
				<a class="linked-in" href="https://www.linkedin.com/in/djrollins" target="_blank">
					<span class="fa fa-linkedin"></span>
				</a>
			</li>
			<li>
				<a class="email" href="mailto:website@djrollins.com" target="_blank">
					<span class="fa fa-envelope"></span>
				</a>
			</li>
		</ul>
    </div>
</header>
