<div class="postlist">
{% if site.posts.size == 0 %}
    <h2 class="no-posts-title">No posts (Yet!)</h2>
{% else %}
{% for post in site.posts %}
    <div class="postlist-post"> 
        <a href="{{ post.url | prepend: baseurl }}">
            <div class="postlist-post-title">
                <h2>{{ post.title }}</h2>
            </div> 
            {% if post.description %}
            <div class="postlist-post-description">
                {{ post.description }}
            </div>
            {% endif %}
        </a>
    </div>
{% endfor %}
{% endif %}
</div>
