@import "variables";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
 * Default font size is 16px on desktops
 * Using % prevents screwing with users default font size
 * 16px * 1.125% = 18px
 * 16px * 1.25% = 20px
 */
html {
  font-family: $base-font;
  font-weight: 300;
  font-size: 112.5%;
  line-height: 1.6;

  @media (min-width: 50rem) {
      font-size: 125%;
  }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    padding: 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 38em;
}
