@import "variables";

header {
    .header-content {
        text-align: center;
    }

    .portrait {
        width: 8rem;
        height: 8rem;
        margin: 0 auto 1rem auto;
        border-radius: 50%;
        border: 2px solid $accent-color;
        overflow: hidden;

        img {
            margin-top: -1em;
        }
    }

    a:hover, a:focus {
        text-decoration: none;
    }
    
    .site-logo {
        a {
            color: $base-color;
        }
        em {
            font-style: normal;
            opacity: 0.5;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul.socials {
        li {
            display: inline-block;
            margin: 0 0.1em;
        }

        a {
            &:hover {
                opacity: 0.5;
            }
        }
    }

    nav {
        margin-bottom: 1rem;
        .nav-item {
            width: 5rem;
            display: inline-block;
            div &:hover {
                text-decoration: none;
                box-shadow: 0 1px 5px $accent-color;
            }
        }
    }

    .tag-line {
        display: inline-block;
        max-width: 25rem;
        font-size: 0.8rem;
        text-align: center;
        color: lighten($base-color, 50);
        margin-top: 1rem;
    }
}
