@import "theme";

header {
    color: $header-color;
    width: 100%;
    background: $header-background-color;
    text-align: center;
    z-index: 1000;

    .header-content {
        display: block;
        padding: 20px;
        height: 360px;
    }

    .initial {
        opacity: 0.2;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0px 2.5px 0px 2.5px;
    }

    ul.socials  {
        padding-top: 24px;
        a {
            display: inline-block;
            width: 36px;
            height: 36px;
            line-height: 36px;
            border-radius: 100%;
            color: $header-background-color;
            &:hover {
                opacity: 0.5;
            };
        }
    }

    .portrait {
        width: 10em;
        height: 10em;
        border-radius: 100%;
        border: 2px solid $accent-color;
        overflow: hidden;
        background: $header-color;
        margin: auto;
        img {
            width: 14em;
            margin-top: -4em;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            color: $accent-color;
            text-decoration: none;
        }
    }
}

@media (min-width: 900px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: auto;
        height: 100%;
        width: 25%;
        border-right: 1px solid #C7C7C7;

        li {
            display: block;
        }

        ul.socials li {
            display: inline-block;
            margin: 0px;
        }

        .header-content {
            margin-top: 40%;
            padding: 10px;
        }
    }
}

@media (min-width: 1050px) {
    header {
        ul.socials li {
            margin: 0px 2.5px 0px 2.5px;
        }
    }
}
