@import "variables";

.post {
    h1 {
        margin-bottom: 1rem;
    }
    
    &-date {
        margin-bottom: 1rem;
        color: lighten($base-color, 50);
    }

    &-nav {
        font-size: 0.75rem;
        margin-bottom: 2rem;
        height: 1.5rem;
        
        a { color: $base-color; }
        
        .next {
            float: right;
        }
    }
}
