@import "variables";

.postlist {
    .no-posts-title {
        text-align: center;
        color: rgba($base-color, 0.15);
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

    &-post {
        padding: 4% 2%;
        &:hover,
        &:focus {
            background-color: rgba($accent-color, 0.1);
            border-radius: 10px;
        }
        a {
            color: $base-color;

            &:hover,
            &:focus, {
                text-decoration: none;
            }
        }

        &-date {
            color: lighten($base-color, 50);
            font-size: .8rem;
        }

        &-title h2 {
            margin-top: .25rem;
            margin-bottom: .25rem;
            font-weight: 600;
            font-size: 1.6rem;
            color: $base-color;
            letter-spacing: 0;
        }

        &-description {
            color: lighten($base-color, 30);
            margin-bottom: .25em;
        }
    }
}
