// Fonts
$font-family-base: "Raleway", Helvetica, Arial, sans-serif;

// Colours
$color-white: #FFFFFF;
$color-light-grey: #F3F3F3;
$color-grey: #515151;
$color-dark-grey: #252525;

// $accent-color: #77CAC1;
$accent-color: #3fc6b7;

// Component-specific vars
$header-color: $color-dark-grey;
$header-background-color: $color-white;
$body-background-color: $color-light-grey;

$sidebar-width-large: 300px;
$sidebar-width-small: 242px;

$min-width: 600px;

