@import "variables";

footer {
    font-size: 0.75rem;
    color: rgba($base-color, 0.5);
    margin-top: 2rem;
    margin-bottom: 3rem;

    .info {
        padding: 0 3rem;
        .left {
            float: left;
        }
        .right {
            float: right;
        }
    }
}
